.backgroundContact {
  background-image: linear-gradient(to right,rgba(219, 250, 233, 1) 40%, rgba(220, 231, 255, 1) 100%);
}

@media (max-width: 3024px) {
    .phoneBackground{
        background-image: linear-gradient(to right, rgba(0, 145, 79, 1), rgba(3, 112, 62, 1));
    }
}
@media (max-width: 640px) {
    .phoneBackground{
        background-image: linear-gradient(to right, rgba(0, 202, 109, 1));
    }
}

@media (max-width: 3024px) {
    .clockBackground{
    background-image: linear-gradient(to right, rgba(0, 145, 79, 1), rgba(3, 112, 62, 1));
    }
}
@media (max-width: 640px) {
    .clockBackground{
        background-image: linear-gradient(to right, rgba(4, 167, 93, 1));
    }
}

@media (max-width: 3024px) {
    .locationBackground{
    background-image: linear-gradient(to right, rgba(1, 138, 76, 1), rgba(3, 112, 62, 1));
    }
}
@media (max-width: 640px) {
    .locationBackground{
        background-image: linear-gradient(to right, rgba(3, 112, 62, 1));
    }
}