.shadow-bottom {
  box-shadow: 0px 1px 10px  rgba(0,0,0,0.4)}

.shakebutton {
  animation: shake 1s infinite;

}

@keyframes shake {
  0% {
      box-shadow: 0px 0px 0px rgba(232, 93, 4, 0.97);

   }
  50% {
      box-shadow: 2px 4px 10px rgba(232, 93, 4, 0.97);
    }
  100% {
      box-shadow: 0px 0px 0px rgba(232, 93, 4, 0.97);

    }
}
